{% load static %}

<!-- Mobile-header-top Start -->
<div class="mobile-header-top d-block d-md-none">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- header-search-mobile start -->
                <div class="header-search-mobile">
                    <div class="table">
                        <div class="table-cell">
                            <ul>
                                <li><a class="search-open" href="#"><i class="zmdi zmdi-search"></i></a></li>
                                <li><a href="{% url 'login' %}"><i class="zmdi zmdi-lock"></i></a></li>
                                <li><a href="{% url 'dashboard' %}"><i class="zmdi zmdi-account"></i></a></li>
                                <li><a href="wishlist.html"><i class="zmdi zmdi-favorite"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- header-search-mobile start -->
            </div>
        </div>
    </div>
</div>
<!-- Mobile-header-top End -->
<!-- HEADER-AREA START -->
<header id="sticky-menu" class="header header-2">
    <div class="header-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 offset-md-4 col-7">
                    <div class="logo text-md-center">
                        <a href="{% url 'home' %}"><img src="{% static 'img/yuarlogo.png' %}" alt="" /></a>
                    </div>
                </div>
                <div class="col-md-4 col-5">
                    <div class="mini-cart text-end">
                        <ul>
                            <li>
                                <a class="cart-icon" href="{% url 'cart' %}">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                    <span>{{cart_count}}</span>
                                </a>
                                <div class="mini-cart-brief text-left">
                                    <div class="cart-items">
                                        <p class="mb-0">You have <span>{{cart_count}} item</span> in your shopping bag</p>
                                    </div>
                                    <div class="all-cart-product clearfix">
										{% for cart_item in cart_items %}
                                        <div class="single-cart clearfix">
                                            <div class="cart-photo">
                                                <a href="#"><img src="{% static 'img/cart/1.jpg' %}" alt="" /></a>
                                            </div>
                                            <div class="cart-info">
                                                <h5><a href="#">{{ cart_item.product.product_name }}</a></h5>
                                                <p class="mb-0">Price : ₹ {{ cart_item.product.price }}</p>
                                                <p class="mb-0">Qty : {{ cart_item.sub_total }} </p>
                                                <span class="cart-delete"><a href="#"><i class="zmdi zmdi-close"></i></a></span>
                                            </div>
                                        </div>
										{% endfor %}
                                    </div>
                                    <div class="cart-totals">
                                        <h5 class="mb-0">Total <span class="floatright">₹ {{ cart_item.sub_total }}</span></h5>
                                    </div>
                                    <div class="cart-bottom  clearfix">
                                        <a href="cart.html" class="button-one floatleft text-uppercase" data-text="View cart">View cart</a>
                                        <a href="checkout.html" class="button-one floatright text-uppercase" data-text="Check out">Check out</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- MAIN-MENU START -->
 <div class="menu-toggle hamburger hamburger--emphatic d-none d-md-block">
	<div class="hamburger-box">
		<div class="hamburger-inner"></div>
	</div>
</div>
<div class="main-menu  d-none d-md-block">
	<nav>
		<ul>
			<li><a href="{% url 'home' %}">home</a>
				<div class="sub-menu menu-scroll">
					<ul>
						<li class="menu-title">Page's</li>
						<li><a href="{% url 'home' %}">Home Version 1</a></li>
						<li><a href="index-2.html">Home Version 2</a></li>
					</ul>
				</div>
			</li>
			<li><a href="{% url 'store' %}">products</a>
				<div class="mega-menu menu-scroll">
					<div class="table">
						<div class="table-cell">
							<div class="half-width">
								<ul>
									<li class="menu-title">Categories</li>
									{% for category in links %}
									<li><a href="{{ category.get_url }}">{{category.category_name}}</a></li>
									{% endfor %}
								</ul>
							</div>
							<div class="half-width">
								<ul>
									<li class="menu-title">popular brands</li>
									{% for category in links %}
									<li><a href="{{ category.get_url }}">{{category.category_name}}</a></li>
									{% endfor %}
								</ul>
							</div>
							<div class="full-width">
								<div class="mega-menu-img">
									<a href="single-product.html"><img src="{% static 'img/megamenu/1.jpg' %}" alt="" /></a>
								</div>
							</div>
							<div class="pb-80"></div>
						</div>
					</div>
				</div>
			</li>
			<li><a href="#">Shortcodes</a>
				<div class="sub-menu menu-scroll">
					<ul>
						<li class="menu-title">Shortcodes</li>
						<li><a href="elements-accordions.html">Accordion</a></li>
						<li><a href="elements-toggles.html">Toggles</a></li>
						<li><a href="elements-tab.html">Tab</a></li>
						<li><a href="elements-product-tab.html">Product Tab</a></li>
						<li><a href="elements-product-tab-2.html">Product Tab 2</a></li>
						<li><a href="elements-carousel.html">product carousel</a></li>
						<li><a href="elements-carousel-2.html">product carousel 2</a></li>
						<li><a href="elements-featured-product.html">Featured Product</a></li>
						<li><a href="elements-featured-product-2.html">Featured Product 2</a></li>
						<li><a href="elements-button.html">Button</a></li>
						<li><a href="elements-table.html">Table</a></li>
						<li><a href="elements-progress-bars.html">Progress Bar</a></li>
						<li><a href="elements-blog.html">Blog</a></li>
						<li><a href="elements-blog-2.html">Blog - 2</a></li>
						<li><a href="elements-team.html">Team</a></li>
						<li><a href="elements-footer.html">Footer</a></li>
						<li><a href="elements-footer-2.html">Footer 2</a></li>
						<li><a href="elements-map.html">Map</a></li>
					</ul>
				</div>
			</li>
			<li><a href="shop-sidebar.html">accesories</a></li>
			<li><a href="shop-list.html">lookbook</a></li>
			<li><a href="blog.html">blog</a></li>
			<li><a href="#">pages</a>
				<div class="sub-menu menu-scroll">
					<ul>
						<li class="menu-title">Page's</li>
						<li><a href="shop.html">Shop</a></li>
						<li><a href="shop-sidebar.html">Shop Sidebar</a></li>
						<li><a href="shop-grid-right-sidebar.html">Shop Right Sidebar</a></li>
						<li><a href="shop-list.html">Shop List</a></li>
						<li><a href="shop-list-right-sidebar.html">Shop List right sidebar</a></li>
						<li><a href="single-product.html">Single Product</a></li>
						<li><a href="single-product-sidebar.html">Single Product Sidebar</a></li>
						<li><a href="cart.html">Shopping Cart</a></li>
						<li><a href="wishlist.html">Wishlist</a></li>
						<li><a href="checkout.html">Checkout</a></li>
						<li><a href="order.html">Order</a></li>
						<li><a href="login.html">login / Registration</a></li>
						<li><a href="my-account.html">My Account</a></li>
						<li><a href="404.html">404</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="single-blog.html">Single Blog</a></li>
						<li><a href="single-blog-sidebar.html">Single Blog Sidebar</a></li>
						<li><a href="about.html">About Us</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</li>
			<li><a href="about.html">about us</a></li>
			<li><a href="contact.html">contact</a></li>
		</ul>
	</nav>
</div>
<!-- MAIN-MENU END -->
</header>
<!-- HEADER-AREA END -->
<!-- Mobile-menu start -->
<div class="mobile-menu-area">
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 d-block d-md-none">
			<div class="mobile-menu">
				<nav id="dropdown">
					<ul>
						<li><a href="index.html">home</a>
							<ul>
								<li><a href="index.html">Home Version 1</a></li>
								<li><a href="index-2.html">Home Version 2</a></li>
							</ul>
						</li>
						<li><a href="shop.html">products</a></li>
						<li><a href="shop-sidebar.html">accesories</a></li>
						<li><a href="shop-list.html">lookbook</a></li>
						<li><a href="blog.html">blog</a></li>
						<li><a href="#">pages</a>
							<ul>
								<li><a href="shop.html">Shop</a></li>
								<li><a href="shop-sidebar.html">Shop Sidebar</a></li>
								<li><a href="shop-list.html">Shop List</a></li>
								<li><a href="single-product.html">Single Product</a></li>
								<li><a href="single-product-sidebar.html">Single Product Sidebar</a></li>
								<li><a href="cart.html">Shopping Cart</a></li>
								<li><a href="wishlist.html">Wishlist</a></li>
								<li><a href="checkout.html">Checkout</a></li>
								<li><a href="order.html">Order</a></li>
								<li><a href="login.html">login / Registration</a></li>
								<li><a href="my-account.html">My Account</a></li>
								<li><a href="404.html">404</a></li>
								<li><a href="blog.html">Blog</a></li>
								<li><a href="single-blog.html">Single Blog</a></li>
								<li><a href="single-blog-sidebar.html">Single Blog Sidebar</a></li>
								<li><a href="about.html">About Us</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</li>
						<li><a href="about.html">about us</a></li>
						<li><a href="contact.html">contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
</div>
<!-- Mobile-menu end -->
   